<div class="card">
  <div class="card-body">
    <form>
    <div>
      <label class="form-label">Nombre</label>
      <input type="text" name="name" class="form-control" placeholder="El nombre es obligatorio" [formControl]="name">
    </div>
    <div>
      <label class="form-label">Email</label>
      <input type="email" name="email" class="form-control" placeholder="El email es obligatorio" [formControl]="email">
    </div>
    <button class="btn btn-primary mt-2">Enviar</button>
  </form>
  </div>
</div>

<hr>
{{name.value}}
<br>
{{email.value}}
